<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width,minimum-scale=1,initial-scale=1"
  />
  {{- partial "meta.html" . -}}
  {{- partialCached "css.html" . -}}
  <script type="module" src="/js/tableau.embedding.3.8.0.min.js"></script>
  <script>
    function onFirstInteractiveHandler(e) {
      document.dispatchEvent(new Event("app-ready"));
      console.log("onFirstInteractiveHandler");
    }
  </script>
  <title>
    {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }}
      -
      {{ .Site.Title }}
    {{ end }}
  </title>
</head>
